# simulate an ETF portfolio

Peso

ISIN de exemplo no BIG

| Peso   | Categoria/Link                                                                 | yahooSymbol | ISIN           |
|--------|--------------------------------------------------------------------------------|-------------|----------------|
| 4000% | [Nasdaq 100 ETFs](https://www.justetf.com/en/how-to/nasdaq-100-etfs.html)      | NQSE.DE     | IE00BYVQ9F29   |
| 2000% | [Defense](https://www.justetf.com/en/how-to/invest-in-defense.html)            | DFEN.DE     | IE000YYE6WK5   |
| 1500% | [Goldmines](https://www.justetf.com/en/how-to/invest-in-goldmines.html)        | PHYMF       | IE00B4ND3602   |
| 1500% | [Space](https://www.justetf.com/en/how-to/invest-in-space.html)                | JEDG.L      | IE000YU9K6K2   |
| 5,00%  | [Uranium](https://www.justetf.com/en/how-to/invest-in-uranium.html)            | IE000NDWFGA5.SG | IE000NDWFGA5   |
| 5,00%  | [Artificial Intelligence](https://www.justetf.com/en/how-to/invest-in-artificial-intelligence.html) | IE00BK5BCD43.SG    | IE00BK5BCD43   |

In [1]:
import pandas as pd
import yahooquery as yq

In [11]:


etf_df = pd.read_csv('etf_portfolio.csv',delimiter=';')
etf_df

,weight,Category,Link,yahooSymbol,ISIN
0,40,[Nasdaq100ETFs],https://www.justetf.com/en/how-to/nasdaq-100-e...,NQSE.DE,IE00BYVQ9F29
1,20,[Defense],https://www.justetf.com/en/how-to/invest-in-de...,DFEN.DE,IE000YYE6WK5
2,15,[Goldmines],https://www.justetf.com/en/how-to/invest-in-go...,PHYMF,IE00B4ND3602
3,15,[Space],https://www.justetf.com/en/how-to/invest-in-sp...,JEDG.L,IE000YU9K6K2
4,5,[Uranium],https://www.justetf.com/en/how-to/invest-in-ur...,IE000NDWFGA5.SG,IE000NDWFGA5
5,5,[ArtificialIntelligence],https://www.justetf.com/en/how-to/invest-in-ar...,IE00BK5BCD43.SG,IE00BK5BCD43

No historical data found in HTML. The chart data may be loaded dynamically via JavaScript.

In [18]:
symbols = etf_df['yahooSymbol'].str.strip().tolist()
symbolsSsv = ' '.join(symbols)
print(symbolsSsv)

NQSE.DE DFEN.DE PHYMF JEDG.L IE000NDWFGA5.SG IE00BK5BCD43.SG

In [ ]:



data = yq.Ticker(symbols).history(period="max", interval="1d")

historicData = None

for symbol in symbols:
    # Some symbols may not have data, handle gracefully
    try:
        df = data.loc[(symbol,)].reset_index()
        df = df[['date', 'close']].rename(columns={'close': symbol, 'date': 'Date'})
        if historicData is None:
            historicData = df
        else:
            historicData = pd.merge(historicData, df, on='Date', how='outer')
    except Exception:
        continue

historicData = historicData.sort_values('Date').reset_index(drop=True)

In [16]:
historicData

            Date  NQSE.DE    DFEN.DE      PHYMF     JEDG.L
0     2018-09-10    5.010        NaN        NaN        NaN
1     2018-09-11    5.050        NaN        NaN        NaN
2     2018-09-12    5.035        NaN        NaN        NaN
3     2018-09-13    5.035        NaN        NaN        NaN
4     2018-09-14    5.035        NaN        NaN        NaN
...          ...      ...        ...        ...        ...
1757  2025-07-21   13.786  49.855000  64.986000  38.857498
1758  2025-07-22   13.676  48.900002  66.313004  37.215000
1759  2025-07-23   13.674  49.380001  66.329002  38.000000
1760  2025-07-24   13.772  49.450001  65.570000  38.009998
1761  2025-07-25   13.796  49.695000        NaN  37.167500

[1762 rows x 5 columns]